:root {
  --bar-scale-y: 0;
  --sparkle-color: var(--text-color);
}

@keyframes pop-word {
  to {
    transform: rotateX(0);
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes bar-scale {
  to {
    transform: scaleY(1);
  }
}

@keyframes sparkle {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1) translate(4px, 1px) rotate(8deg);
  }

  100% {
    transform: scale(0) translate(4px, 1px) rotate(8deg);
  }
}

/* To higlight MB */
/* @keyframes shimmer {
  to {
    text-shadow: 0 0 8px red;
  }
} */

.word {
  display: block;

  animation: show 0.01s forwards, pop-word 1.5s forwards;
  animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
  opacity: 0;

  transform: rotateX(120deg);
  transform-origin: 50% 100%;
}

.word:nth-of-type(2) {
  padding: 0 2rem;

  animation-delay: 1.5s;

  color: var(--highlight);
}

.superscript {
  position: relative;
  animation-delay: 3.6s;

  animation-duration: 0.25s;
  animation-name: shimmer;

  vertical-align: text-top;
}

/* bars */
.superscript::before {
  --bar-width: 25%;

  position: absolute;

  top: 32%;
  left: 47%;
  width: 13%;
  height: 45%;

  animation: bar-scale 0.25s linear 3s 1 forwards;

  background: linear-gradient(
    to right,
   
    transparent var(--bar-width) calc(100% - var(--bar-width)),
    var(--text-color) calc(100% - var(--bar-width))
  );

  content: "";

  transform: scaleY(var(--bar-scale-y));
}

/* sparkle */
.superscript::after {
  --size: 10rem;

  position: absolute;

  top: 0%;
  left: -102%;

  width: var(--size);
  height: var(--size);

  animation: sparkle 0.4s linear 3.5s 1 forwards;

  background: radial-gradient(
      circle at center,
      var(--text-color) 0% 7%,
      transparent 7% 100%
    ),
    conic-gradient(
      transparent 0deg 18deg,
      var(--sparkle-color) 18deg,
      transparent 20deg 40deg,
      var(--sparkle-color) 40deg,
      transparent 43deg 87deg,
      var(--sparkle-color) 87deg,
      transparent 95deg 175deg,
      var(--sparkle-color) 175deg,
      transparent 178deg 220deg,
      var(--sparkle-color) 220deg,
      transparent 222deg 270deg,
      var(--sparkle-color) 270deg,
      transparent 275deg 300deg,
      var(--sparkle-color) 300deg,
      transparent 303deg 360deg
    );

  border-radius: 50%;
  clip-path: polygon(
    1% 99%, 1% 99%1% 99%, 50% 2%, 50% 2%, 50% 2%, 99% 99%, 99% 99%, 99% 99%
  );

  content: "";

  filter: blur(1px);

  transform: scale(0);
}

#home .social-icons {
  opacity: 0;
}
#home .scroll-downs {
  opacity: 0;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 11rem;
  }

  #home .subtitle {
    padding: 0;
    /* padding-top: 20px; */
    font-size: 9rem;
  }

  /* sparkle */
  .superscript::after {
    /* --size: 5.5rem; */
    left: -91%;
    top: 13%
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 7rem;
  }

  #home .subtitle {
    padding: 0;
    padding-top: 20px;
    font-size: 6.5rem;
  }

  /* sparkle */
  .superscript::after {
    --size: 5.5rem;
    left: -88%;
    top: 15%
  }
}

@media screen and (max-width: 534px) {
  h1 {
    font-size: 6rem;
  }

  #home .subtitle {
    padding: 0;
    padding-top: 20px;
    font-size: 4rem;
  }

  .superscript::after {
    --size: 6rem;
    left: 50%;
    top: 0%
  }
}

@media screen and (max-width: 460px) {
  h1 {
    font-size: 4rem;
  }

  #home .subtitle {
    padding: 0;
    padding-top: 20px;
    font-size: 3.5rem;
  }

  .superscript::after {
    --size: 6rem;
    left: -113%;
    top: -10%
  }
}

@media screen and (max-width: 316px) {
  h1 {
    font-size: 2.5rem;
  }

  #home .subtitle {
    padding: 0;
    padding-top: 20px;
    font-size: 2.5rem;
  }

  .superscript::after {
    --size: 6rem;
    left: -113%;
    top: -10%
  }
}
